.chat {
  width: 640px;
  margin: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-view {
  height: calc(100vh - 258px);
  overflow: auto;
}

.chat-form {
  border: 1px solid #e2e2e2;
  border-bottom: 0;
  padding-bottom: 64px;
}

.chat-field {
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  padding: 20px;
}

.chat-message {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #e2e2e2;
}

.chat-message-author {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.chat-message-text {
  margin: 0;
}
