.chat {
  width: 400px;
}

.chat-view {
  height: 480px;
  margin: 16px 0;
}

.chat-form {
  border: 1px solid #6da7f7;
  display: flex;
}

.chat-field {
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  padding: 12px;
}

.short-field {
  width: 100px;
  background-color: #6da7f7;
  color: #fff;
}

.chat-message {
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid #f2f2f2;
}

.message-info {
  display: flex;
  margin-bottom: 8px;
}

.chat-message-author {
  background-color: #6da7f7;
  color: #fff;
  padding: 4px 8px;
}

.chat-message-id {
  font-size: 14px;
  color: #c7c7c7;
  padding: 5px 10px;
}

.chat-send-button {
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  background: none;
  width: 39px;
  cursor: pointer;
  color: #6da7f7;
}

.chat-send-button:active {
  color: #fff;
  background-color: #6da7f7;
}
