.chat-page {
  max-width: 700px;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  background-color: white;
}

.page-title {
  margin: 32px;
  margin-top: 50px;
  font-weight: normal;
}

.chat-view {
  margin: 16px;
  padding: 16px;
  overflow-y: auto;
  height: calc(100vh - 237px);
}

.message {
  margin-bottom: 20px;
  overflow: hidden;
}

.message-author {
  color: #cccccc;
  font-size: 14px;
  margin-bottom: 8px;
}

.message-content {
  line-height: 24px;
  letter-spacing: 0.2px;
  border: 1px solid #f4f4f4;
  padding: 8px 10px;
  border-radius: 12px;
  float: left;
  max-width: 70%;
}

.message.my .message-content {
  background-color: #f4f4f4;
  float: right;
}

.message.my .message-author {
  text-align: right;
}

.message-content img {
  max-width: 100%;
  width: 300px;
  display: block;
  border-radius: 8px;
}

.chat-form {
  margin: 32px;
  margin-top: 16px;
  display: flex;
  user-select: none;
}

.chat-field {
  width: 100%;
  padding: 12px;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  border-radius: 12px;
  font-size: 16px;
}

.chat-field::placeholder {
  transition: 250ms color;
  color: #a5a5a5;
}

.chat-field:focus::placeholder {
  color: #d3d3d3;
  transition: 250ms color;
}

.chat-button {
  margin-left: 8px;
  padding: 12px;
  background-color: #09bc8a;
  border: 1px solid #09bc8a;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 250ms background-color, 250ms border-color;
}

.chat-button:hover {
  background-color: #09ab7e;
  border: 1px solid #09ab7e;
  transition: 250ms background-color, 250ms border-color;
}
